NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_ASSET_BASE_URL=https://samingasht-public-production.s3.ir-thr-at1.arvanstorage.ir/public/site/release-2026-08-12
API_INTERNAL_BASE_URL=http://localhost:5000/api/v1
NEXT_DEPLOYMENT_ID=development-local
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=
NEXT_PUBLIC_FEATURE_ADMIN_2FA=true
NEXT_PUBLIC_FEATURE_ONBOARDING=true
NEXT_PUBLIC_FEATURE_STUDENT_PANEL=true
MAP_TILE_BASE_URL=https://tile.openstreetmap.org
MAP_TILE_CONTACT_URL=https://samingasht.ir/contact
